*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li{
    display: :inline;
}

.container{
    width: 1366px;
    margin: auto;
} 

.articles{
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between ;

    }

    .articles article img {
    height: 180;
    }

    .articles article{
    width: 30%;
    }
